:root, body {
  background: var(--main-accent-colour);
  margin: 0;

  --colour-primary: #f2f2e4;
  --font-primary: #2b2b2b;

  --main-accent-colour: #ec6e70;
  --secondary-accent-colour: #ffc519;

  --drop-shadow-colour: #1e2026;

  scroll-behavior: smooth;

  --Website: #5fbe86;
  --LinkedIn: #0077b5;
  --Instagram: #e4405f;
  --ArtStation: #13aff0;
  --GitHub: #6e5494;

  max-width: 100%;
  overflow-x: hidden;

}

h1 {
  font-size: 3rem;
  font-family: "Jua", sans-serif;
}

p {
  font-family: "SUSE", sans-serif;
  max-width: 800px;
}

#navigation {
  display: flex;
  justify-content: right;

  margin: 0 auto;
}

.primary-separator {
  position: relative;
  background: repeating-conic-gradient(var(--secondary-accent-colour) 0% 25%, var(--main-accent-colour) 0% 50%) 50% / 50px 50px;
  border-top: var(--font-primary) 5px solid;
  border-bottom: var(--font-primary) 5px solid;
  height: 100px;
  z-index: 10;
}

.secondary-separator {
  position: relative;
  background: repeating-conic-gradient(var(--colour-primary) 0% 25%, var(--main-accent-colour) 0% 50%) 50% / 50px 50px;
  border-top: var(--font-primary) 5px solid;
  border-bottom: var(--font-primary) 5px solid;
  height: 100px;
  z-index: 10;
}

.container, #landing, #about-us, #games, #team{
  display: flex;
  justify-content: center;

  margin: 0 auto;
  height: 600px;
  background: var(--colour-primary);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 768px) {
#landing {
    height: 800px;

    .container, .content  {
      height: 800px;
    }
  }

  #about-us {
    height: 1000px;

    .container, .content  {
      height: 1000px;
    }

    h1 {
      z-index: 1;
    }
  }

  #games {
    height: 2600px;

    .container, .content  {
      height: 2600px;
    }
  }

  #gallery {
    height: 1050px;

    .container, .content  {
      height: 1050px;
    }
  }

  #team {
    height: 6000px;

    .container, .content  {
      height: 6000px;
    }
  }
}
@media only screen and (min-width: 769px) {
  #about-us {
    height: 900px;

    .container, .content  {
      height: 800px;
    }
  }

  #games {
    height: 1600px;

    .container, .content  {
      height: 1600px;
    }
  }

  #gallery {
    height: 1600px;

    .container, .content  {
      height: 1600px;
    }
  }

  #team {
    height: 6000px;

    .container, .content  {
      height: 6000px;
    }
  }
}
@media only screen and (min-width: 1025px){

  #gallery {
    height: 1500px;

    .container, .content  {
      height: 1500px;
    }
  }

  #team {
    height: 2300px;

    .container, .content  {
      height: 2300px;
    }
  }
}