:root, body {
  background: var(--main-accent-colour);
  margin: 0;
  --colour-primary: #f2f2e4;
  --font-primary: #2b2b2b;
  --main-accent-colour: #ec6e70;
  --secondary-accent-colour: #ffc519;
  --drop-shadow-colour: #1e2026;
  scroll-behavior: smooth;
  --Website: #5fbe86;
  --LinkedIn: #0077b5;
  --Instagram: #e4405f;
  --ArtStation: #13aff0;
  --GitHub: #6e5494;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-family: "Jua", sans-serif;
}

p {
  font-family: "SUSE", sans-serif;
  max-width: 800px;
}

#navigation {
  display: flex;
  justify-content: right;
  margin: 0 auto;
}

.primary-separator {
  position: relative;
  background: repeating-conic-gradient(var(--secondary-accent-colour) 0% 25%, var(--main-accent-colour) 0% 50%) 50%/50px 50px;
  border-top: var(--font-primary) 5px solid;
  border-bottom: var(--font-primary) 5px solid;
  height: 100px;
  z-index: 10;
}

.secondary-separator {
  position: relative;
  background: repeating-conic-gradient(var(--colour-primary) 0% 25%, var(--main-accent-colour) 0% 50%) 50%/50px 50px;
  border-top: var(--font-primary) 5px solid;
  border-bottom: var(--font-primary) 5px solid;
  height: 100px;
  z-index: 10;
}

.container, #landing, #about-us, #games, #team {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 600px;
  background: var(--colour-primary);
}

#about-us {
  height: 900px;
}
#about-us .container, #about-us .content {
  height: 800px;
}

#games {
  height: 1600px;
}
#games .container, #games .content {
  height: 1600px;
}

#gallery {
  height: 1500px;
}
#gallery .container, #gallery .content {
  height: 1500px;
}

#team {
  height: 2300px;
}
#team .container, #team .content {
  height: 2300px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1280px;
}

.hf-sizing {
  width: 100%;
  height: 150px;
}

.header, #footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colour-primary);
}
.header p, #footer p {
  padding: 0;
  font-size: 0.85rem;
}
.header .copyright, #footer .copyright {
  padding-bottom: 25px;
}
.header .footer-links, #footer .footer-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .nav-link {
  font-family: "Jua", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--font-primary);
  background: var(--colour-primary);
  transition: 0.2s;
  padding: 5px 2vw;
  margin: 0.25rem 0.5rem;
  border: var(--secondary-accent-colour) 10px solid;
  border-radius: 100px;
}
#nav .nav-link:hover {
  cursor: pointer;
  transform: scale(1.125);
}

#navigation {
  z-index: 10;
  background: var(--main-accent-colour);
}
#navigation .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 150px;
}
#navigation #logo {
  margin-left: 150px;
  width: 300px;
}

#landing {
  height: 625px;
}
#landing #hero-video {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateY(-237px);
  pointer-events: none;
}
#landing #hero-background {
  position: absolute;
  width: 900px;
  border-radius: 25px;
}
#landing #hero-logo {
  position: absolute;
  transform: translate(-70%, -80%) rotateZ(-9deg);
  width: 450px;
  transition: 0.2s;
}
#landing #hero-logo:hover {
  transform: translate(-70%, -80%) rotateZ(-9deg) scale(1.025);
}
#landing #hero-art-left, #landing #hero-art-right {
  position: absolute;
  transition: 0.25s;
  z-index: 20;
}
#landing #hero-art-left:hover, #landing #hero-art-right:hover {
  scale: 1.025;
}
#landing #hero-art-left {
  animation: rotate-easeOutElastic 3s infinite;
  animation-direction: reverse;
  margin-right: 1010px;
  margin-top: 350px;
  width: 500px;
}
#landing #hero-art-right {
  animation: smooth-rocking 5s infinite;
  margin-left: 800px;
  margin-top: 275px;
  width: 325px;
}
#landing .inline-buttons {
  position: relative;
  display: flex;
}
#landing .inline-buttons .button {
  background: var(--main-accent-colour);
  color: var(--colour-primary);
  font-family: "Jua", sans-serif;
  font-size: 1.25rem;
  padding: 0.5rem 3rem;
  margin: 1rem;
  border-radius: 100px;
  text-decoration: none;
  transition: 0.2s;
}
#landing .inline-buttons .button:hover {
  cursor: pointer;
  transform: scale(1.125);
}
#landing p {
  width: 600px;
  transform: translateY(-50%);
}
#landing p span {
  font-style: italic;
  font-weight: bold;
  font-size: 1.25rem;
  padding-right: 3px;
}
#landing h1 {
  padding-top: 5rem;
}
#landing p, #landing h1, #landing a {
  z-index: 1;
  margin-left: 100px;
}
#landing .content {
  transform: rotateZ(-3deg);
}

#splash {
  background: var(--colour-primary);
  height: 900px !important;
}
#splash #art, #splash #art-dino {
  object-fit: cover;
  object-position: 0 75%;
  height: 900px;
  width: 100%;
}
#splash #art-dino {
  position: relative;
  z-index: 20;
  transform-origin: bottom;
  transform: translateY(-900px) scale(1.85);
}
#splash #art-dino.smaller {
  transform: translateY(-900px) scale(1);
}
#splash #credit {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  color: var(--colour-primary);
  font-family: "SUSE", monospace;
  font-size: 0.9rem;
  letter-spacing: 1px;
  right: 0;
  padding: 5px 10px;
  z-index: 20;
  transform: translate(-10%, -250%);
}

#about-us p {
  padding-top: 1rem;
}
#about-us #coffee-stain {
  position: absolute;
  left: 0;
  transform: translate(-100px, 90px) rotateZ(-80deg);
  width: 400px;
  height: 400px;
  opacity: 60%;
}
#about-us #team-photo {
  width: 600px;
}

#games #games-coffee-stain {
  position: absolute;
  right: 0;
  transform: translate(100px, 400px) rotateZ(-80deg);
  width: 600px;
  height: 600px;
  opacity: 50%;
}
#games #games-logo {
  width: 800px;
  transform: translateY(-50px);
  transition: 0.3s;
}
#games #games-logo:hover {
  transform: translateY(-50px) scale(1.125);
}
#games #download {
  display: flex;
  justify-content: center;
  align-items: center;
}
#games #download .download-button {
  border: var(--secondary-accent-colour) 10px solid;
  color: var(--font-primary) !important;
  font-family: "Jua", sans-serif;
  font-size: 1.25rem;
  padding: 0.25rem 2rem;
  margin: 1rem;
  border-radius: 100px;
  transition: 0.2s;
}
#games #download .download-button:hover {
  cursor: pointer;
  transform: scale(1.125);
}
#games #download .download-button a {
  color: var(--font-secondary);
  text-decoration: none !important;
}
#games #download .icon {
  display: inline-block;
}
#games .isp {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  transition: 0.2s;
}
#games .isp .isp-art {
  width: 300px;
  transition: 0.2s;
}
#games .isp .isp-art:hover {
  transform: scale(1.125);
}
#games .isp .left {
  margin-right: 50px;
}
#games .isp .right {
  margin-left: 50px;
}
#games .isp .isp-info {
  width: 500px;
  text-align: justify;
  transition: 0.3s;
}
#games .isp .isp-info:hover {
  transform: scale(1.025);
}
#games .isp .isp-info h1 {
  font-size: 2rem;
}
#games .isp:hover {
  cursor: pointer;
  transform: scale(1.025);
}

#carouselA .wrapper, #carouselB .wrapper, #carouselC .wrapper {
  display: flex;
  overflow: hidden;
}
#carouselA .wrapper .carousel-slide, #carouselB .wrapper .carousel-slide, #carouselC .wrapper .carousel-slide {
  display: flex;
  animation: scroll 71s infinite linear;
}
#carouselA .wrapper .carousel-slide .carousel-item, #carouselB .wrapper .carousel-slide .carousel-item, #carouselC .wrapper .carousel-slide .carousel-item {
  padding: 10px 10px;
}

#carouselB .wrapper .carousel-slide {
  animation: scroll 69s infinite linear reverse;
  animation-delay: -27s;
}

#carouselC .wrapper .carousel-slide {
  animation: scroll 75s infinite linear;
  animation-delay: -20s;
}

/*# sourceMappingURL=landing.css.map */
