html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFC519;
    --primary-color-tint: #e3aa09;
    --secondary-color: #F2F2E4;

    --button-color: var(--primary-color);
    --button-hover-color: var(--primary-color-tint);
    --arrow-color: var(--secondary-color);

    --mbm-main-font: Jua;
    --mbm-font-size-base: 26px;
}

/*#region ScrollTop */

#scroll-to-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: -100px;
    z-index: 99;
    width: 75px;
    height: 75px;
    background-color: var(--button-color);
    color: var(--arrow-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

@media only screen and (max-width: 600px)
{
    #scroll-to-top{
        width: 50px;
        height: 50px;
    }
}

#scroll-to-top::before {
    content: "\25b2";
    font-size: 24px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#scroll-to-top:hover {
    background-color: var(--button-hover-color);
}

/*#endregion */

/*#region NavHamburger */
body.hide {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    font-family: var(--mbm-main-font);
    font-size: var(--mbm-font-size-base);
}

.menu li a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
}

.hamburger {
    margin: 15px;
    cursor: pointer;
    align-content: center;
    display: flex;
    background: var(--primary-color);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    z-index: 999;
}

.hamburger .bar {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    margin: 5px 0;
    transition: 0.2s;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    /* Positions the menu content */
    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        padding-top: 5em;
        margin: 0 auto;
        left: 100%;
        background-color: var(--primary-color);
        text-align: center;
        display: block;
        z-index: 998;
        transition: 0.2s;
    }

    .menu li a {
        padding: 20px;
        background-color: var(--primary-color-tint);
        width: 100%;
        max-width: 400px;
        margin: 12px auto;
        border-radius: 100px;
    }

    .menu li a:hover {
        transform: scale(1.2);
        transition: 0.1s;
    }

    /* Handles the toggle state */
    #menu-toggle:checked ~ .menu {
        left: 0;
    }

    /* Animates the hamburger to change to an X after toggle*/
    #menu-toggle:checked ~ .hamburger .bar:nth-child(1) {
        transform: translateY(9px) translateX(-50%) rotate(45deg);
    }

    #menu-toggle:checked ~ .hamburger .bar:nth-child(2) {
        transform: scale(0);
    }

    #menu-toggle:checked ~ .hamburger .bar:nth-child(3) {
        transform: translateY(-9px) translateX(-50%) rotate(-45deg);
    }
}

/*#endregion */